.search__form {
    --input-text-color: #fff;
    --input-bg-color: #303030;
    --focus-input-bg-color: transparent;
    --text-color: #ddd;
    --active-color: #034e78;
    --active-outline: #009bf0;
    --width-of-input: 300px;
    --inline-padding-of-input: 1.2em;
    --gap: 0.9rem;
}

/* form style */
.search__form {
    font-size: 1rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    width: var(--width-of-input);
    height: 3em;
    position: relative;
    isolation: isolate;
}

/* a search bg for showing background and border when focus. */
.search__bg {
    position: absolute;
    width: 100%;
    inset: 0;
    background: var(--input-bg-color);
    border-radius: 30px;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

/* group styling */
.search__label {
    width: 100%;
    padding: 0.8em;
    height: 40px;
    padding-inline: var(--inline-padding-of-input);
    display: flex;
    align-items: center;
}

.search__icon,
.search__close-btn {
    position: absolute;
}

/* styling search-icon */
.search__icon {
    fill: var(--text-color);
    left: var(--inline-padding-of-input);
}

/* svg -- size */
svg {
    width: 17px;
    display: block;
}

/* styling of close button */
.search__close-btn {
    border: none;
    right: var(--inline-padding-of-input);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--input-text-color);
    padding: 0.1em;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--active-color);
    opacity: 0;
    visibility: hidden;
}

/* styling of input */
.search__input {
    color: var(--input-text-color);
    width: 100%;
    margin-inline: min(2em, calc(var(--inline-padding-of-input) + var(--gap)));
    background: none;
    border: none;
}

.search__input:focus {
    outline: none;
}

.search__input::placeholder {
    color: var(--text-color)
}

/* input background change in focus */
.search__input:focus~.search__bg {
    border: 1px solid var(--active-outline);
    background: var(--focus-input-bg-color);
}

/* search icon color change in focus */
.search__input:focus~.search__icon {
    fill: var(--active-color);
}

/* showing close button when typing */
.search__input:valid~.search__close-btn {
    opacity: 1;
    visibility: visible;
}

/* this is for the default background in input,when selecting autofill options -- you can remove this code if you do not want to override the browser style.  */
.search__input:-webkit-autofill,
.search__input:-webkit-autofill:hover,
.search__input:-webkit-autofill:focus,
.search__input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
}